/* 와일드카드 셀렉터:전체 선택자 */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reset */
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
