/*변수선언이 가능하다*/
// $main-ba-color: #0d611b;
// $subtitle-ba-color: #0ebba4;
// $text-color: #7230ee;

$contens-color: (
  bgcolor: #ffde03,
  btncolor: #f5efef,
  textcolor: #4833cc,
  sscolor: #555,
  lightcolor: #ffffff,
);
