/* color */
$color: (
  main-light-color: #fff,
  main-dark-color: #000,
  main-font-color: #222,
  content-bg-color: #ddd,
  award-bg-color: #1a1f24,
  sub-font-color: #999,
  button-bg-color: #bbb,
  button-sub-color: #31c0ce,
  vars-bg-color: #dc143c,
);

/* font-family */
$fontfamily: (
  monst-font-family: "Montserrat",
  manrope-font-family: "Manrope",
  source-font-family: "Source Sans 3",
  over-font-family: "Overpass",
);
